.powered-by-utnba-helper {
    float: right;
    clear: right;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.powered-by-utnba-helper:after {
    content: "POWERED BY UTN.BA HELPER";
}

/* HorariosPage */
.name-container {
    z-index: 5;
    white-space: nowrap;
}

#agenda-holder .top-left-border {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

/* Allows space in the header to add the student id */
.brand-nav .user-navbar li > a {
    padding-top: 5px !important;
}

.brand-nav .row-fluid .span12 {
    min-height: initial !important;
}

.utnba-helper table {
    width: initial;
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
}

.utnba-helper table th, .utnba-helper table td {
    padding: 4px 8px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
}

.utnba-helper table tr:hover > td {
    background-color: #f5f5f5;
}

.utnba-helper table tr:first-child > th {
    background-color: #707070;
    color: #f0f0f0;
    text-shadow: 0 1px 1px rgb(0 0 0);
    padding: 10px;
    text-align: center;
}

.utnba-helper ul.no-margin {
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.utnba-helper ul.no-margin li {
    margin: 1px 0;
}

.utnba-helper table tr.top-border td {
    border-top: 2px solid black;
}

.utnba-helper table tr.top-border-without-first-cell td:not(:first-child) {
    border-top: 2px solid black;
}


/* Plan Tracking Custom Page */

.utnba-helper .plan-tracking tbody td {
    vertical-align: top;
}

.utnba-helper .plan-tracking tbody .course {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
}

.utnba-helper .plan-tracking tbody .course .text-small {
    font-size: 11px;
    text-align: center;
}

.utnba-helper .plan-tracking tbody .course .text-medium {
    font-size: 13px;
    text-align: center;
}

.utnba-helper .plan-tracking tbody hr {
    margin: 10px 0;
}

.utnba-helper a > .dependency-tooltip {
    text-shadow: none;
    white-space: nowrap;
    position: relative;
    margin-right: 100px;
    margin-left: -3px;
    max-width: 300px;
    width: auto;
    border-radius: 12px;
    background-color: #FFFFB0;
    color: #000000;
    border: 1px solid #505050;
    font-family: arial, serif;
    font-size: 12px;
    padding: 10px;
    z-index: 1;
    text-decoration: none;
    display: none;
    box-shadow: 0 8px 8px -5px #a0a0a0;
}

.utnba-helper a > .dependency-tooltip {
    text-decoration: none;
    position: absolute;
    margin-left: 0.6rem;
}

.utnba-helper a:hover > .dependency-tooltip {
    display: inline;
    text-decoration: none;
}


/** Some other css is breaking this so it's enforced here*/
.utnba-helper .filters label {
    display: initial;
}

.utnba-helper .filters a {
    margin-top: 8px;
}

.utnba-helper .filters input[type="checkbox"] {
    margin-top: 0px;
}
