a.helper {
	cursor: pointer;
	text-transform: initial;
	font-size: 14px;
}

a.helper:hover {
	border-bottom: none !important;
}

.year-change {
	display: none;
	font-size: 14px;
}


.powered-by-siga-helper {
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.powered-by-siga-helper:after {
	content: "POWERED BY SIGA HELPER";
}

/* Shows subject name on table */
table .name-container {
	max-width: 0;
	white-space: nowrap;
	font-size: 13px;
	padding: 5px;
}