.powered-by-siga-helper {
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.powered-by-siga-helper:after {
	content: "POWERED BY SIGA HELPER";
}

/* Shows course name on table */
table .name-container {
	max-width: 0;
	white-space: nowrap;
	font-size: 13px;
	padding: 5px;
}

ul.no-margin {
	padding-inline-start: 10px;
	margin-block-end: 0;
	margin-block-start: 0;
}

ul.no-margin li {
	margin: 1px 0;
}

tr.top-border {
	border-top: 2px solid black;
}

tr.top-border-without-first-cell td:not(:first-child) {
	border-top: 2px solid black;
}
