.powered-by-siga-helper {
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.powered-by-siga-helper:after {
	content: "POWERED BY SIGA HELPER";
}

/* Shows course name on table */
table .name-container {
	max-width: 0;
	white-space: nowrap;
	font-size: 13px;
	padding: 5px;
}
