.powered-by-utnba-helper {
    float: right;
    clear: right;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

/* Allows space in the header to add the student id */
.brand-nav .user-navbar li > a {
    padding-top: 5px !important;
}

.brand-nav .row-fluid .span12 {
    min-height: initial !important;
}
