.utnba-helper table {
    width: initial;
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
}

.utnba-helper table th, .utnba-helper table td {
    padding: 4px 8px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
}

.utnba-helper table tr:hover > td {
    background-color: #f5f5f5;
}

.utnba-helper table tr:first-child > th {
    background-color: #707070;
    color: #f0f0f0;
    text-shadow: 0 1px 1px rgb(0 0 0);
    padding: 10px;
    text-align: center;
}

.utnba-helper ul.no-margin {
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.utnba-helper ul.no-margin li {
    margin: 1px 0;
}

.utnba-helper table tr.top-border td {
    border-top: 2px solid black;
}

.utnba-helper table tr.top-border-without-first-cell td:not(:first-child) {
    border-top: 2px solid black;
}
