/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 300px;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 15px;
}

.button {
  border: 0;
  display: block;
  padding: 10px 20px;
  margin: 4px;
  background-color: bisque;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}
